
.datepicker {
    @media screen and (min-width: 1200px) {
        min-width: 166px;
    }
    td, th {
        width: 32px;
        height: 32px;
    }
}

.input-range__slider {
    border-radius: 15px;
    border-color: $primary-color3;
    width: 24px;
    height: 24px;
    top: -8px;
    background-color: #f1f1f1;
}
.input-range__track--active {
    height: 8px;
    top: -2px;
    background-color: $primary-color3;
}

.input-range__track--background {
    height: 4px;
    background-color: $border-color;
    border: 0;
}

.input-range__label--value {
    top: -43px;
    left: 4px;
    font-size: 16px;
    color: #000;
}
.ui-state-default:focus, .ui-widget-content .ui-state-default:focus {
    outline: none;
}
