/* =================================== */
/* Start Footer Area Style */
.footer-area {
    padding: 95px 0px 45px;
    background:url(/images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    .footer-title {
        font-size: 20px;
        color: $white;
        font-weight: 500;
        margin-bottom: 30px;
    }
    .footer-list-item {
        margin-bottom: 12px;
    }
    .footer-list-item {
        a {
            color: $white;
            font-family: $MyriadRegular-font;
            &:hover {
                color: $primary-color4;
            }
        }
    }

    .social-icon {
        background-color: transparent;
        color: $primary-color4;
        font-size: 20px;
        display: inline-block;
        border: 1px solid #5a5968;
        border-radius: 40px;
        width: 45px;
        height: 45px;
        line-height: 40px;
        margin: 0px 6px;
        &:hover {
            background-color: $white;
            color: $black;
        }
    }
}
/* End Footer Area Styles
/* =================================== */
