.PhoneInputInput {
    border: 0 !important;
    &:focus {
        outline: none !important;
    }
}


.css-yk16xz-control {
    border: 0;
    border-color: transparent !important;
    height: 52px;
    padding-left: 0;
    &:focus {
        box-shadow: none !important;
        border-color: transparent !important;
    }
}

.css-1pahdxg-control {
    border-color: transparent !important;
    box-shadow: none !important;
    height: 52px;
}

.css-g1d714-ValueContainer {
    padding-left: 0 !important;
    &:focus {
        outline: none;
    }
}

.css-26l3qy-menu {
    left: 0;
    margin-top: 3px !important;
}


.css-9gakcf-option {
    background-color: $primary-color2 !important;
}

.css-yt9ioa-option, .css-1n7v3ny-option {
    cursor: pointer !important;
}


// Time Picker
.rc-time-picker-input {
    padding: 0;
    height: 38px;
    border: 0;
    font-size: 16px;
    color: #5d5d5d;
    font-weight: 600;
    font-family: $MyriadRegular-font;
    &:focus {
        outline: none;
    }
}
.rc-time-picker-clear-icon:after {
    font-size: 16px;
    color: #000;
}


.react-datepicker-wrapper {
    width: 100%;
}