
//    Font Family
@font-face {
    font-family: "Bradley Hand ITC";
    src: url("/asset/fonts/bradhitc.ttf") format("truetype");
}

$primary-font	: 'Work Sans', sans-serif;
$MyriadRegular-font	: 'Myriad Pro Regular';
$BHITC-font	: 'Bradley Hand ITC';

/*--------------------------- Color variations ----------------------*/

$primary-color	: #3535c9;
$primary-color2	: #00aced;
$primary-color3	: #52b128;
$primary-color4	: #bce415;
$title-color	: #131313;
$title-color2	: #5d5d5d;
$title-color3	: #3a3671;;
$text-color		: #92949f;
$text-color2    : #292929;
$text-color3    : #8a9398;
$text-color4    : #424242;
$border-color	: #d6e0e6;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #000;







